<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>Index</title>
</head>
<body class="container">
<form method="post">
    <div class="form-group">
        <label>Welcome
            <p th:text="${username}"></p>
        </label>
    </div>
<!--    <div class="form-group">-->
<!--        <a th:href="@{/}">SignUp Appointment</a>-->
<!--    </div>-->
</form>
</body>
</html>
<!--<body>-->
<!--<p>index page</p>-->
<!--&lt;!&ndash;<form method="post">&ndash;&gt;-->
<!--&lt;!&ndash;    <p th:text = "'Welcome ' + ${username} + '!'"></p>&ndash;&gt;-->
<!--    &lt;!&ndash;<a th:href="@{/}">&ndash;&gt;-->
<!--    &lt;!&ndash;    Select your spa services here&ndash;&gt;-->
<!--    &lt;!&ndash;</a>&ndash;&gt;-->
<!--&lt;!&ndash;</form>&ndash;&gt;-->
<!--</body>-->
<!--</html>-->