<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>Index</title>
</head>
<body class="container">
<form method="post">
    <div class="form-group">
        <label>Welcome
            <p th:text="${username}"></p>
        </label>
    </div>
</form>
</body>
</html>

    <!--<a th:href="@{/}">-->
    <!--    Select your spa services here-->
    <!--</a>-->

